<div class="container">
<div class="col-8 mx-auto shadow p-4 rounded">

    <h3 class=" text-primary text-center ">Template Driven Form Validation</h3>

  <form #myForm="ngForm">
    
    <input
      type="text"
      class="form-control my-2"
      placeholder="Enter first name"
      [(ngModel)]="firstname"
      name="fname"
      #fname="ngModel"
      minlength="5"
      required
      [class.is-valid]="fname.dirty && fname.valid"
      [class.is-invalid]="fname.invalid && fname.dirty"
    />
  
    
    <div *ngIf="fname.invalid && fname.dirty">
      <span class="text-danger" *ngIf="fname.hasError('minlength')">
        The minimum character is five
      </span>
      <span class="text-danger" *ngIf="fname.hasError('required')">
        First name is required
      </span>
    </div>
  
    
    <input
      type="text"
      class="form-control my-2"
      placeholder="Enter last name"
      [(ngModel)]="lastname"
      name="lname"
      #lname="ngModel"
      minlength="5"
      maxlength="10"
      [class.is-valid]="lname.dirty && lname.valid"
      [class.is-invalid]="lname.invalid && lname.dirty"
      required
    />
  

    <div *ngIf="lname.invalid && lname.dirty">
        <span class="text-danger" *ngIf="lname.hasError('minlength')">
          The minimum character is five
        </span>
        <span class="text-danger" *ngIf="lname.hasError('maxlength')">
            The maximum character is ten
          </span>
        
        <span class="text-danger" *ngIf="lname.hasError('required')">
          Last Name is required
        </span>
      </div>




    
  

    
    <input
      type="text"
      class="form-control my-2"
      placeholder="Enter phone number"
      [(ngModel)]="phonenumber"
      name="pnumber"
      #pnumber="ngModel"
      required
      [class.is-valid]="pnumber.dirty && pnumber.valid"
      [class.is-invalid]="pnumber.invalid && pnumber.dirty"
    />

    <div *ngIf="pnumber.invalid && pnumber.dirty">
        
        <span class="text-danger" *ngIf="pnumber.hasError('required')">
          phonenumber is required
        </span>
      </div>



      <input
      type="number"
      class="form-control my-2"
      placeholder="Enter your age"
      [(ngModel)]="age"
      name="age"
      #age="ngModel"
      min="18"
      max="40"
      required
      [class.is-valid]="age.dirty && age.valid"
      [class.is-invalid]="age.invalid && age.dirty"
    />

    <div *ngIf="age.invalid && age.dirty">

        <span class="text-danger" *ngIf="age.hasError('required')">
          Age is required
        </span>

        <span class="text-danger" *ngIf="age.hasError('min')">
           The minimum age is 18 years </span>
           <span class="text-danger" *ngIf="age.hasError('max')">
            The maximum age is 40 years </span>

        
      </div>


    


<div class="form-check my-3">
    <input
      type="checkbox"
      class="form-check-input"
      [(ngModel)]="agreedToTermss"
      name="agreedToTerms"
      #agreedToTerms="ngModel"
      
    />
    <label class="form-check-label" for="agreedToTerms">
      I agree to the terms and conditions
    </label>
  </div>

  
  <button
    type="submit"
    class="btn btn-outline-primary w-100"
    [disabled]="myForm.invalid || !agreedToTermss">
    Submit
  </button>

    
  </form>


</div>

</div>


  