

<!-- <div>
  hello angular!
</div>
<div>i am Hamzat
  i am  {{objone.age}} years old
</div> -->

<!-- <div>
  <p>
    {{stundentinfo.level[0].class4}}
  </p>
  <p>
    {{stundentinfo.level[0].laptop}}
  </p>
  <p>
    {{stundentinfo.level[0].course}}
  </p>
  <p>
    {{stundentinfo.equipment[0].wooden}}
  </p>
  <p>
    {{stundentinfo.equipment[0].metal}}
  </p>
  <p>
    {{stundentinfo.equipment[0].internet}}
  </p>
  <p>
    {{stundentinfo.set}}
  </p>
</div> -->

<!-- <div class="container-fluid">
  <div class="col-8">
    <p class="text-primary">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, nobis?</p>
</div>

<div class="col-6">
  <p class="col-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, molestias voluptatem veniam quae cum recusandae?</p>
</div>

</div>



<p>{{firstname}} {{lastname}}</p>
<app-contact-app></app-contact-app>
<app-landingpage></app-landingpage> -->
<router-outlet />
