<p>pipecomponent works!</p>


<p>{{'agriculture'|uppercase}}</p>
<p>{{'house'|uppercase}}</p>
<p>{{time|date}}</p>
<p>{{time|date:'short'}}</p>
<p>{{time|date:'full'}}</p>
<p>{{time|date:'shortTime'}}</p>
<p>{{time|date:'fullTime'}}</p>
<p>{{time|date:'longTime'}}</p>
<p>{{time|date:'mediumTime'}}</p>
<p>{{time|date:'shortDate'}}</p>
<p>{{time|date:'LongDate'}}</p>
<p>{{time|date:'mediumDate'}}</p>
<p>{{time|date:'fullDate'}}</p>
<p>{{time|date:'d/M/Y'}}</p>

for currency
<p>{{1000|currency}}</p>
<p>{{1000|currency:'EUR'}}</p>
<p>{{1000|currency:'EUR':'code'}}</p>
<p>{{1000|currency:'GBP'}}</p>
<p>{{1000|currency:'GBP':'code'}}</p>
<p>{{1000|currency:'NGN':'symbol-narrow'}}</p>
<p>{{1000|currency:'NGN':'code'}}</p>
<p>{{1000|currency:'JPY'}}</p>
<p>{{1000|currency:'JPY':'code'}}</p>


<P>{{'Investment'|slice:0:6}}</P>


<p>{{'Everlasting'|slice:0:4}}</p>
<p>{{'Evalasting'|slice:1:4}}</p>
<p>{{'Evalasting'|slice:3:7}}</p>
<p>{{'Evalasting'|slice:3:10}}</p>
<p>{{'Evalasting'|slice:5:10}}</p>
<p>{{'Evalasting'|slice:7:9}}</p>
<p>{{'Evalasting'|slice:6:9}}</p>

