<p>eventparent works!</p>


<div class="container">
    <div class="col-8 mx-auto shadow p-5">
        <div>
            <h3 class="text-success text-center"> This is the parent component</h3>
            <input type="text" class="form-control my-3" [(ngModel)]="msgToChild">
            <button class="btn btn-outline-success "(click)="send()">send msg to child </button>
            <div>
               message from child   {{response}}
            </div>
            
        </div>
        <div>

            <app-eventchild [sendMsg]="msg" (eventemit)="receivemsg($event)"></app-eventchild>
        </div>
    </div>
</div>
