
<p>reactiveform works!</p>
<div class="conatainer">

    <div class="col-6 mx-auto shadow">
        <h1 class="text-success text-center ">Reactive form</h1>

        <form [formGroup]="formone">
            <input type="text" class="form-control my-2" placeholder="Firstname" formControlName="fname" name="firstname" [class.is-valid]="formone.get('fname')?.valid && formone.get('fname')?.dirty" [class.is-invalid]="formone.get('fname')?.invalid && formone.get('fname')?.dirty"> 
            <input type="text" class="form-control my-2" placeholder="Phonenumber" formControlName="pnumber" name="phonenumber" [class.is-valid]="formone.get('pnumber')?.valid && formone.get('pnumber')?.dirty" [class.is-invalid]="formone.get('pnumber')?.invalid && formone.get('pnumber')?.dirty">
            <input type="text" class="form-control my-2" placeholder="Email" formControlName="email" name="email" [class.is-valid]="formone.get('email')?.valid && formone.get('email')?.dirty" [class.is-invalid]="formone.get('email')?.invalid && formone.get('email')?.dirty">
            <input type="text" class="form-control my-2" placeholder="Age" formControlName="age" name="age" [class.is-valid]="formone.get('age')?.valid && formone.get('age')?.dirty" [class.is-invalid]="formone.get('age')?.invalid && formone.get('age')?.dirty">

            <input type="checkbox" class="my-2" formControlName="cbox" name="cbox" required> <span class="text-danger ms-1" *ngIf="formone.value['cbox'] == false">Click the box to complete form</span>


            <button class="btn btn-outline-success w-100 " (click)="reactive()" [disabled]="formone.invalid">reactive form</button>

        </form>

    </div>
        

</div>
